# Database
DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=

# IMAP Vianova
IMAP_HOST=
IMAP_PORT=993
IMAP_USERNAME=
IMAP_PASSWORD=

# App
LOG_LEVEL=INFO
ATTACHMENTS_DIR=data/attachments
POLL_INTERVAL_SECONDS=60
